#topbar {
    width: 990px;
    background-color: #BB1919;
    height: 40px;
    position: relative;
}

@media screen and (max-width: 600px) {
    #topbar {
        width: 500px;
        background-color:aquamarine;
        height: 40px;
        position: relative;
}
}


.newstitle {
    font-family: Arial;
    font-size: 220%;
    color: white;
}


#topmenu {
    background-color: #A91717;
    width: auto;
    height: 20px;
    margin: 0 auto;
    margin-top: -35px;
    color: white;
}

@media screen and (max-width: 600px) {
    #topmenu {
        background-color:aqua;
        width: auto;
        height: 20px;
        margin: 0 auto;
        margin-top: -35px;
        color: white;
    }     
}


.ultopmenu {
    display: flex;
    margin: 0 auto;
    float: left;
}

.toplink:link {
    color: white;
    text-decoration: none;
}
.toplink:hover {
    text-decoration: underline;
}

.toplink:visited  {
    color:white;
    text-decoration: none;
}

#mainpagearticle {
        position:inherit;
        width: auto;    
}

.technotitle{
    color:black;
    text-decoration-color: red;
}
.technotitle:hover {
    color:#1167A8;
}

.titlecontainer {
    position: inherit;
}
.titlecontainerspa {
        text-decoration: none;
        font-size: 120%;    
        font-family: Arial;
        font-size: 120%; 
}

.bigtitle{
    font-size: bold; 
    font-family: Arial;    
}

.repname {
    font-family: Arial;
    font-size: 90%;
    color: #404040;
}

.timeline {
    color:#404040;
}

.timelin:link {
    color: #BB1919;
    text-decoration: none;
}
.timelin:visited {
    color: #BB1919;
}
.timelin:hover {
    color:#1167A8;
}


.mainimg {    
    height: auto;
    width: auto;
 position: relative;
}

#pictext {
    background-color: black;
    color: white;
    width: 990px;
    height: 45px;
    margin-top: -40px;
    position: absolute;
    font-size: 120%;
    font-family: Arial;
}

.pictextspan {
    margin-left: 20px;
 }

#maintext {
    font-family: Arial;
    color:#404046;
    font-size: 115%;
    padding: 50px 90px;
    margin:auto;
    margin-top: -30px;
}



.bolder {
    font-weight: bold;
}

.linkmaintext:link {
    color: black;
}

.linkmaintext:visited {
    color: black;
}

.linkmaintext:hover {
    color:#1167A8;
}
.linkmaintext:active {
    color: black;
}

.intext {
    font-size: 110%;
}

.related {
    display: flex;
}

#share {    
    float: left;
}

.ulshare {
        display:flex; 
        margin-left: -40px;
        margin-top: -15px;
}

#rightsidearticle {
    float:right;
}

@media all and (max-width: 600px)
{
    nav
    {
        width: auto;
        text-align: left;
    }
    
    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }
}

    
